body {
	background-color: #f0f0f0; /* Light gray color - change as desired */
	/* Or use an image background: */
	/* background-image: url('images/background.jpg'); */
	/* background-size: cover; */
}

.title {
	background-color: black;
	color: white;
	text-align: center;
}

.contact {
	text-align: center;

}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px; /* adjust width as needed */
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	text-decoration: underline;
}
